@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


/* font-family: 'Permanent Marker', cursive; */
html{font-size:100%;}

body{-webkit-text-size-adjust:100%;}

#wrap{
  width: 100%;
  max-width: 100%;
}

header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #FF592E;
}
header .logo{
  width: 100%;
  text-align: center;
}
header .hamburger_btn{
  padding-right: 1%;
}
header .hamburger_btn .hamburger_btn_icon img{
  height: 40px;
}

.mo_view{
  display: flex;
  flex-flow: column;
  position:fixed;
  right:0;
  top:0;
  width:60%;
  height:100%;
  z-index:2000;
  box-sizing: border-box;
  border-left: 2px solid #333;
  background: #FBF4E4;
}
.mo_view .mo_view_logo{
  width: 100%;
  border-bottom: 2px solid #FF592E;
  height: 6%;
  margin-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.mo_view .mo_view_logo .mo_view_close_btn{
  width: 20%;
  height: 15%;
  display: flex;
  justify-content: center;
}
.mo_view .mo_view_logo .mo_view_close_btn i{
  color: #333;
  font-size: 50px;
  float: left;
}
.mo_view .mo_view_logo img{
  height: 35px;
  margin-right: 30%;
  margin-top: 2%;
}
.mo_view .mo_list{
  width: 100%;
  max-width: 100%;
}
.mo_view .mo_list>ul>li{
  width: 100%;
  text-align: center;
  color: #FF592E;
  font-size: 26px;
  font-weight: bold;
  padding: 5% 0;
  transition: all 0.5s;
  cursor: pointer;
}
.mo_view>.mo_list>ul>li>a{
  color: #FF592E;
}
.mo_view>.mo_list>ul>li>ul>li{
  margin-top: 5%;
  display: none;
}
.mo_view>.mo_list>ul>li>ul>li>a{
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.line{
  width: 100%;
  height: 2px;
  background: #333;
}
.app_intro{
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #FF592E;
  padding: 5% 0%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10%;
  color: #333;
  transition: all 0.5s;
}
.app_intro:hover{
  background: #FF592E;
  color: #333;
}
.mo_view .charac{
  position: absolute;
  width: 100%;
  bottom: 5%;
}
.mo_view .charac img{
  width: 100%;
  max-width: 100%;
}

.visual{
  width: 80%;
  margin: 20px auto;
}
.visual_border{
  border-top: 2px solid #FF592E;
  border-left: 2px solid #FF592E;
  border-right: 2px solid #FF592E;
  padding: 15px;
} 
.visual_in{
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.swiper-wrapper .swiper-slide img{
  width: 100%;
  max-width: 100%;
}

section{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 100%;
  margin: -12% auto;
}

section .illust{
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  max-width: 100%;
  display: flex;
  border-bottom: 4px solid #FF592E;

}
section .illust .dal{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .illust .dal img{
  max-width: 50%;
}
section .illust .fox{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .illust .fox img{
  max-width: 50%;
}

section #imagine{
  width: 100%;
  max-width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section #imagine .imagine_title{
  width: 100%;
  text-align: center;
  color: #2A31A0;
}
section #imagine .imagine_title p:nth-child(1){
  font-size: 20px;
  color: #FF592E;
}
section #imagine .imagine_title p:nth-child(2){
  font-size: 24px;
  margin-top: 2%;
  line-height: 130%;
  margin-bottom: 1%;
}
section #imagine .imagine_cha{
  margin-top: 50px;
}
section #imagine .imagine_cha img{
  width: 100%;
  max-width: 100%;
}
section #new{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items:center;
  background: #FBF4E4;
  padding-bottom: 50px;
}
section #new h3{
  width: 100%;
  font-size: 24px;
  padding-top: 50px;
  color: #FF592E;
  text-align: center;
  margin-bottom: 50px;
}
section #new .img_top_left{
  width: 45%;
  margin-left: 2%;
  border-right: 2px solid #FF592E;
  border-bottom: 2px solid #FF592E;
  padding-right: 20px;
  padding-bottom: 20px;
}
section #new .img_top_left img{
  width: 100%;
  border-radius: 15px;
  max-width: 100%;
}
section #new .middle_text{
  width: 80%;
  margin: 5% auto;
  text-align: center;
  padding: 2%;
  font-size: 16px;
  color: #FF592E; 
}
section #new .title_top_right{
  width: 40%;
  text-align: center;
  margin-right: 3%;
}
section #new .title_top_right h4{
  font-size: 20px;
  color: #FF592E;
  font-family: 'Shadows Into Light', cursive;
}
section #new .title_bottom_left{
  width: 40%;
  text-align: center;
}
section #new .title_bottom_left h4{
  font-size: 20px;
  color: #FF592E;
  font-family: 'Shadows Into Light', cursive;
}

section #new .img_top_right{
  width: 48%;
  border-left: 2px solid #FF592E;
  border-top: 2px solid #FF592E;
  padding-left: 20px;
  padding-top: 20px;
  margin-right: 2%;
}
section #new .img_top_right img{
  width: 100%;
  border-radius: 15px;
  max-width: 100%;
}

section #playground{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
section #playground .playground_title{
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  color: #FF592E;
}
section #playground .top_line{
  width: 100%;
}
section #playground .top_line img{
  width: 100%;
  max-width: 100%;
}
section #playground .photo_1{
  width: 50%;
  margin-left: 48%;
}
section #playground .photo_1 img{
  width: 100%;
  max-width: 100%;
}
section #playground .photo_2{
  width: 50%;
  margin-top: 50px;
  margin-left: 2%;
}
section #playground .photo_2 img{
  width: 100%;
}
section #playground .playground_text{
  width: 40%;
  margin-left: 4%;
  margin-top: 20%;
  font-size: 16px;
  color: #FF592E;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
section #playground .photo_3{
  width: 50%;
  margin-top: 50px;
  margin-left: 48%;
}
section #playground .photo_3 img{
  width: 100%;
}
section #playground .bootom_line{
  width: 100%;
}
section #playground .bottom_line img{
  width: 100%;
  max-width: 100%;
}

section #exp{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;
}
section #exp .exp_title{
  font-size: 16px;
  color: #FF592E;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
section #exp .exp_title p{
  font-size: 14px;
  margin-top: 5%;
}
section #exp .exp_btn{
  width: 100%;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  flex-flow: row wrap;
}
section #exp .exp_btn div{
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #FF592E;
  background: #FBF4E4;
}
section #exp .exp_btn div a{
  width: 100%;
  text-align: center;
  color: #FF592E;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
section #exp .exp_btn div a p{
  font-size: 20px;
  padding-bottom: 10%;
}
section #exp .exp_btn div a>img{
  width: 80%;
  max-width: 80%;
}

footer{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  background: #FBF4E4;
}
footer .logo{
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 5% auto;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #FF592E;
}
footer .logo img{
  width: 40%;
  max-width: 40%;
}
footer .drop_down{
  width: 100%;
  max-width: 100%;
  margin: -10px auto;
}
footer>.drop_down>ul>li{
  width: 80%;
  padding: 3% 3%;
  text-align: center;
  margin: 15px auto;
}
footer>.drop_down>ul>li>a{
  font-size: 20px;
  color: #FF592E;
  font-weight: bold;
}
footer>.drop_down>ul>li>a>i{
  float: right;
  font-size: 24px;
  font-weight: bold;
}
footer>.drop_down>ul>li>ul>li{
  width: 100%;
  padding: 2% 2%;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  display: none;
}
footer>.drop_down>ul>li>ul>li:nth-child(1){
  margin-top: 5%;
}
footer>.drop_down>ul>li:nth-child(1)>ul>li:nth-child(1){
  font-weight: bold;
}
footer>.drop_down>ul>li:nth-child(3)>ul>li:nth-child(1){
  margin-top: 5%;
  font-weight: bold;
}
footer .info_box{
  width: 80%;
  max-width: 80%;
  margin: 15px auto;
  color: #FF592E;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
}


/* mobile check width 414px* note20 ultra 기준 */






